.ghost {
  background-color: #dadada73;
}

.I {
  background-color: #f00;
}

.J {
  background-color: #ff0;
}

.L {
  background-color: #ffa500;
}

.O {
  background-color: #008000;
}

.S {
  background-color: #800080;
}

.Z {
  background-color: #00f;
}

.T {
  background-color: #ffc0cb;
}

.I,
.J,
.L,
.O,
.S,
.T,
.Z,
.ghost,
.sad {
  box-shadow:
    inset 2px 2px 2px #fff3,
    inset -2px -2px 2px #01085933;
}

.sad {
  background-color: #ff0;
  transition: background-color 0.5s, box-shadow 0.5s;
}

.hide {
  animation: hide 0.5s;
}

@keyframes hide {
  0% {
    transform: scale(0.8) rotate(30deg);
  }

  45% {
    transform: scale(0.8) rotate(-30deg);
  }

  90% {
    transform: scale(1) rotate(0);
  }
}